# Install with "python -m pip install -r requirements.txt".

# used to configure game-qa-testing
PyYAML==5.3.1

# used by olymap
pngcanvas==1.0.3
Jinja2==2.11.2

# used to maintain this file
pur==5.3.0

# used by Makefile
coverage==5.3
pylint==2.6.0
pytest==6.1.2
pytest-cov==2.10.1
pytest-sugar==0.9.4
coveralls==2.1.2

# packaging
wheel==0.35.1
twine<2  # for python 3.5
setuptools==50.3.2
setuptools_scm==4.1.2
