# Install with "python -m pip install -r requirements.txt".

# used to configure game-qa-testing
PyYAML==5.3.1

# used by olymap
pngcanvas==1.0.3
Jinja2==2.11.2

# used to maintain this file
pur==5.3.0

# used by Makefile
coverage==5.1
pylint==2.5.2
pytest==5.4.2
pytest-cov==2.8.1
pytest-sugar==0.9.3
coveralls==2.0.0

# packaging
wheel==0.34.2
twine<2  # for python 3.5
pypandoc==1.5
setuptools==46.4.0
setuptools_scm==3.5.0
