<HTML>
<HEAD>
<script src="sorttable.js"></script><TITLE>Olympia Master Item Report</TITLE>
</HEAD>
<BODY>
<H3>Olympia Master Item Report</H3>
<h5>(Click on table headers to sort)</h5><table border="1" style="border-collapse: collapse" class="sortable">
<tr><th>Item</th><th>Type</th><th>Weight</th><th>Man Item</th><th>Prominent</th><th>Animal</th><th>Land Cap</th><th>Ride Cap</th><th>Flying Cap</th><th>Who Has</th><th>Notes</th></tr>
{% for entry in itemz %}
    <tr><td sorttable_customkey="{{ entry.oid }}">{{ entry.name }} [<a href="{{ entry.oid }}.html">{{ entry.oid }}</a>]</td>
        <td>{{ entry.type }}</td><td>{{ entry.weight }}</td><td>{{ entry.man_item }}</td>
        <td>{{ entry.prominent }}</td><td>{{ entry.animal }}</td>
        <td>{{ entry.land_cap }}</td><td>{{ entry.riding_cap }}</td>
        <td>{{ entry.flying_cap }}</td>
        {% if entry.who_has_name %}
            <td>{{ entry.who_has_name }} [<a href="{{ entry.who_has_id }}">{{ entry.who_has_id }}</a>]</td>
        {% else %}
            <td>&nbsp;</td>
        {% endif %}
        <td>{{ entry.notes|safe }}</td></tr>
{% endfor %}
</table>
</BODY>
</HTML>